.section-identificacion {
    height: 100%;
    width: 100%;
    max-width: 870px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}

.section-center {
    display: flex;
    justify-content: center;
}

.form-heading {
    font-weight: bold !important;
}

.identificacion-img-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.identificacion-img-logo img {
    width: 410px;
    height: 420px;
    display: none;
}

p {
    font-size: 14.4px;
    line-height: 24px;
}

@media (min-width: 870px) {
    .identificacion-img-logo img {
        display: inline-block;
    }
}

@media (min-width: 1100px) {}